*.html
*.pdf

*.xlsx
*.pptx
*.docx

predictions.csv

aws_implementation/data/test_data.csv
aws_implementation/data/train_data.csv

aws_implementation/demo/

.ipynb_checkpoints
old
~historical

chem_reactor_ml_env

__pycache__